.navbar {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    background-color: #1418ffbe;
    padding: 1em;
    position: fixed;  
    top: 0;  
    left: 0;  
    height: 100%;  
}

.list {
    display: flex;
    flex-direction: column;  
    list-style: none;
    align-items: center;
    justify-content: flex-start;  
}

.item {
    margin-bottom: 1em;  
    color: #FFF;
}

.item a {
    color: #7733ff;
    text-decoration: none;
}

.item a:hover {
    color: #7733ff;
}

.logo {
    width: 120px;
    margin-bottom: 2em;  
}
